.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
  
}

.Cont_Back{
  background-color: rgb(207, 242, 207);
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}


showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 350px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  position: relative;
}

.suggestions {
  position: relative;
  z-index: 999;
  margin: 10;
  font-size: 14px;
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: rgba(22, 170, 255, 0.068);
  cursor: pointer;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #dfdfdf;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 4px;
  position: relative;
 }

.name {
  font-size: 18px;
  font-weight: 600;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}